<html>
    <head> Login 
    <link rel="stylesheet" href="{{url_for ('static', filename='style.css') }}"/>
    </head>
    <body>
        <form>
        <h1>Login</h1>
        <label for="username">Username:</label>
        <input type="text" id="username" value="qjsreyes">

        <label for="password">Password</label>
        <input type="password" id="password" value="qjsreyes">

        <input type="submit" name="Login" id="" value="Login">
        <input type="submit" name="Register" id="" value="Register">

        </form>
    </body>

</html>